:root {
  --color-black: #000505;
  --color-dark-violet: #3B3355;
  --color-violet: #5D5D81;
  --color-light-violet: #BFCDE0;
  --color-white: #FEFCFD;
}

body {
  font-family: sans-serif;
}

.section-title {
  font-size: 28px;
  margin-bottom: 25px;
}

.section-subtitle {
  font-size: 20px;
  margin-left: 15px;
}

.app {
  display: flex;
  flex-direction: row;
}

.sidenav-container {
  top: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  height: 100vh;
  width: 220px;
  padding: 15px;
  background-color: var(--color-light-violet);
}

.sidenav-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  font-size: 36px;
  margin-bottom: 100px;
  user-select: none;
}

.sidenav-options {
  display: flex;
  flex-direction: column;
  height: auto;
  font-size: 20px;
  gap: 25px;
}

.sidenav-button > a{
  color: var(--color-black);
  text-decoration: none;
}

.sidenav-button > a:hover{
  color: var(--color-violet);
  text-decoration: none;
}

.section-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1000px;
  margin: 10px 0 0 250px;
  color: var(--color-black);
  width: 100%;
  padding: 50px;
}